[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[user]
	name = Dopson, Brian
	email = BRIAN_DOPSON1@homedepot.com
[core]
	autocrlf = true
	excludesfile = C:\\Users\\bxd5017\\.gitignore
[diff]
	tool = bc3
[difftool]
    prompt = false
[difftool "bc3"]
		cmd = \"c:\\Program Files\\Beyond Compare 3\\bcomp.exe\"

[merge]
	tool = bc3
[mergetool]
    prompt = false
[mergetool "bc3"]
		cmd = \"c:\\Program Files\\Beyond Compare 3\\bcomp.exe\"

[difftool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
